/* bible */
* {
    margin: 0;
    padding: 0;
    font-family: 'Chicle', serif;
}
html, body {
    height: 100%;
    overflow: hidden;
}

/* header */
header {
    background-color: rgb(99, 124, 95);
    position: sticky;
    position: -webkit-sticky;
    top:0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.h1-a {
    text-decoration: none;
}
.h1-a > img {
    width:30%;
    margin-top: 0.5em;
}
.headNav {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav > a {
    text-decoration: none;
    font-size: large;
    margin: 0 2em;
}
.navItem {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}
i {
    margin: 0 2em;
}
/* hover */
.nav a:hover {
    background-color: white;
    color:rgb(99, 124, 95);
    border-radius: 0.5em;
}

/* footer */
footer {
    background-color: rgb(99, 124, 95);
    position: absolute;
    bottom:0;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
}
.footH1 {
    color: white;
}
.footNav {
    display: flex;
    align-items: center;
}
footer  a {
    color: white;
    text-decoration: none;
    margin: 0 2em;
}
footer p {
    color: white;
    margin-right: 5em;
}

/* main  */
main {
    position: absolute;
    overflow: hidden;
    top: 5em;
    width: 100%;
    height: 100%;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
}
/* home */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-top: 2em;
}
.home-container > img {
    width: 75%;
}
.featured-products-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5em;  
}
.featured-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    cursor: pointer;
}
.featured-item > h2 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: x-large;
}
.featured-item > img {
    width:50%
}
.item-container {
    display: flex;
    justify-content:space-evenly;
}
/* about */

.about-container {
    width: 33%;
    margin-top: 5em;
}
.about-container > h1 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 2em;
}
.about-container > p {
    color: rgb(99, 124, 95);
    font-size: x-large;
}
.mail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}
.mail-container > span {
    color: rgb(99, 124, 95);
    font-size: xx-large;
}
.about-img-container {
    width: 33%;
    margin-top: 5em;
    overflow: hidden;
}
.about-img-container > img {
   width: 100%;
}

/* blog */

.blog-container {
    width: 50%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}
.blog-container > h1 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 1em;
}
.blog-item {
    border: solid 0.2em rgb(99, 124, 95);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    padding:0.5em;
}
.blog-item > p {
    color: rgb(99, 124, 95);
    font-size: large;
    text-align: center;
}
.blog-item > a {
    text-decoration-color: rgb(99, 124, 95);
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: x-large;
    margin-bottom: 0.5em;
}
.blog-item:hover {
    background-color: rgb(99, 124, 95);
}
.blog-item:hover > a {
    text-decoration-color: white;
    color: white;
}
.blog-item:hover > p {
    color: white;
}

/* articles */

.article-container {
    width: 50%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 10em;
}
article {
    display: flex;
    flex-direction: column;
    width: 100%;
}
article > h1 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 1em;
}
article > p {
    color: rgb(99, 124, 95);
    font-size: large;
    margin-bottom: 2em;
}

article > h2 {
    color: rgb(99, 124, 95);
    font-size: xx-large;
    margin-bottom: 1em;
    text-align: center;
}

/* shop */
.shop-container {
    width: 80%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 10em;
}
.shop-container > h1 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 1em;
}
.item-container {
    display: flex;
    flex-wrap: wrap;
}
.item {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left:1em;
    margin-right:1em;
    margin-bottom:1em;
    cursor: pointer;
}
.item > h2 {
    color: rgb(99, 124, 95);
    font-size: xx-large;
    margin-bottom: 0.5em;
    text-align: center;
}
.price {
    color: rgb(99, 124, 95);
    font-size: large;
}
.item > p {
    color: rgb(99, 124, 95);
    font-size: large;
    margin-bottom: 1em;
}
.buzzwords-container{
    display:flex;
    justify-content:center;
}
.warm {
    background-color:rgb(179, 143, 75);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
.humidity-high {
    background-color:rgb(179, 101, 75);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
.light-bright {
    background-color:rgb(227, 213, 60);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
.beginner {
    background-color:rgb(91, 202, 93);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
.adaptable {
    background-color:rgb(92, 151, 207);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
.low-maintainence {
    background-color:rgb(200, 131, 220);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
/* products */
.item1 {
    display: flex;
    overflow: none;
    align-items: center;
    width: 50%;
    margin-bottom: 10em;
}
.item-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 1em;
    width: 50%;
}
.item-column > h1 {
    color:rgb(99, 124, 95);
    text-align: center;
    align-self: center;
    font-size: xxx-large;
    margin-bottom: 1em;
}
.item-column > p {
    color: rgb(99, 124, 95);
    font-size: large;
    margin-bottom: 1em;
    margin-left: 1em;
}
.item-column > i {
    margin: 2em 2em;
    align-self: center;
    cursor: pointer;
}
/* privacy */
.privacy-container {
    width:33%;
    overflow:scroll;
    margin-bottom: 10em;
}
.privacy-container > h1{
    display: none;
}

/* cart */
.cart-container {
    display:flex;
    flex-direction: column;
    width:75%;
    margin-top: 0.5em;
}
.cart-container > h1 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 2em;
}
.cart-items-container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart-item {
    width: 33%;
    cursor: pointer;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.cart-item > img {
    width:60%;
}
.total-container {
    border: 0.2em solid;
    display: flex;
    justify-content:center;
    border-color: rgb(99, 124, 95);
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
    margin-top: 1em;
}
.total-container > span {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
}
.total-container > a {
    background-color:rgb(99, 124, 95);
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.2em;
    color:white;
    font-size: x-large;
    text-decoration: none;
    margin-left: 0.5em;
}

/* checkout  */
.checkout-container {
    display:flex;
    flex-direction: column;
    overflow: scroll;
    width:50%;
    margin-top: 0.5em;
    margin-bottom: 10em;
}
.checkout-container > h1 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
}
.checkout-container > span {
    color:rgb(99, 124, 95);
    text-align: center;
}
.checkout-form {
    display: flex;
    flex-direction: column;
}
.checkout-fieldset {
    border-color: rgb(99, 124, 95);
    border-radius:0.5em;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}
.checkout-fieldset > legend {
    color:rgb(99, 124, 95);
    font-size: xx-large;
}
.input-container{
    display: flex;
    justify-content:baseline;
    align-items:baseline;
}
.input-container > input {
    color:black;
    font-size: large;
}
.checkout-label {
    color:rgb(99, 124, 95);
    font-size: x-large;
    margin: 1em 1em;
}
#checkout-submit {
    background-color:rgb(99, 124, 95);
    color:white;
    font-size: x-large;
    padding: 0.5em;
    border-radius:0.5em;
    margin-top: 0.5em;
    cursor:pointer;
}
/* identify */
.identify-container {
    display: flex;
    flex-direction:column;
    margin-top: 2em;
    width: 33%;
}
.identify-container > h1 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 2em;
}
.identify-container > p {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: x-large;
    margin-bottom: 3em;
}
.identify-container > button {
    background-color:rgb(99, 124, 95);
    color:white;
    font-size: x-large;
    padding: 0.5em;
    border-radius:0.5em;
    margin-top: 0.5em;
    cursor:pointer;
}
/* identify form */
.identification-form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 2em;
}
.identification-form-container > h1 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 1em;
}
.identification-form-container > span {
    color:rgb(99, 124, 95);
    text-align: center;
}
.identification-form {
    display: flex;
    flex-direction: column;
}
.id-fieldset {
    border-color: rgb(99, 124, 95);
    border-radius:0.5em;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
    flex-wrap: wrap;
    margin-bottom: 1.5em;
}
.id-fieldset > legend {
    color:rgb(99, 124, 95);
    font-size: xx-large;
}
.input-container-id{
    display: flex;
    justify-content:baseline;
    align-items:baseline;
}
.input-container-id {
    display: flex;
}
.input-container-id > input {
    color:black;
    font-size: large;
}
.id-label {
    color:rgb(99, 124, 95);
    font-size: x-large;
    margin: 1em 1em;
}
#id-submit {
    background-color:rgb(99, 124, 95);
    color:white;
    font-size: x-large;
    padding: 0.5em;
    border-radius:0.5em;
    margin-top: 0.5em;
    cursor:pointer;
}
/* confirmation */
.id-confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-top: 2em;
}
.id-confirmation-container > img {
    width: 75%;
}
.id-confirmation-container > a {
    padding: 0.5em;
    background-color:rgb(99, 124, 95);
    border-radius: 0.5em;
    color:white;
    text-decoration: none;
    font-size: x-large;
    margin-top: 1em;
}
.purchase-confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-top: 2em;
}
.purchase-confirmation-container > img {
    width: 75%;
}
.purchase-confirmation-container > a {
    padding: 0.5em;
    background-color:rgb(99, 124, 95);
    border-radius: 0.5em;
    color:white;
    text-decoration: none;
    font-size: x-large;
    margin-top: 1em;
}