/* bible */
* {
    margin: 0;
    padding: 0;
    font-family: 'Chicle', serif;
}
html, body {
    height: 100%;
    overflow: hidden;
}

/* header */
header {
    background-color: rgb(99, 124, 95);
    position: sticky;
    position: -webkit-sticky;
    top:0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.h1-a {
    text-decoration: none;
}
.h1-a > img {
    width:30%;
    margin-top: 0.5em;
}
.headNav {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.nav > a {
    text-decoration: none;
    font-size: large;
    margin: 0 2em;
}
.navItem {
    text-decoration: none;
    color: white;
    padding: 0.5em;
}
i {
    margin: 0 2em;
}
/* hover */
.nav a:hover {
    background-color: white;
    color:rgb(99, 124, 95);
}

/* footer */
footer {
    background-color: rgb(99, 124, 95);
    position: absolute;
    bottom:0;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
}
.footH1 {
    color: white;
}
.footNav {
    display: flex;
    align-items: center;
}
footer a {
    color: white;
    margin: 0 2em;
}

/* main  */
main {
    position: absolute;
    overflow: hidden;
    top: 5em;
    width: 100%;
    height: 100%;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
}
/* home */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-top: 2em;
}
.home-container > img {
    width: 75%;
}
.featured-products-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5em;  
}
.featured-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    cursor: pointer;
}
.featured-item > h2 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: x-large;
}
.featured-item > img {
    width:50%
}
.item-container {
    display: flex;
    justify-content:space-evenly;
}
/* about */

.about-container {
    width: 33%;
    margin-top: 5em;
}
.about-container > h2 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 2em;
}
.about-container > p {
    color: rgb(99, 124, 95);
    font-size: large;
}
.about-img-container {
    width: 33%;
    margin-top: 5em;
    overflow: hidden;
}
.about-img-container > img {
   width: 100%;
}

/* blog */

.blog-container {
    width: 50%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.blog-container > h2 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 1em;
}
.blog-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    padding:0.5em;
}
.blog-item > p {
    color: rgb(99, 124, 95);
    font-size: large;
    text-align: center;
}
.blog-item > a {
    text-decoration-color: rgb(99, 124, 95);
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: x-large;
    margin-bottom: 0.5em;
}
.blog-item:hover {
    background-color: rgb(99, 124, 95);
}
.blog-item:hover > a {
    text-decoration-color: white;
    color: white;
}
.blog-item:hover > p {
    color: white;
}

/* articles */

.article-container {
    width: 50%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 10em;
}
article {
    display: flex;
    flex-direction: column;
    width: 100%;
}
article > h2 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 1em;
}
article > p {
    color: rgb(99, 124, 95);
    font-size: large;
    margin-bottom: 2em;
}

article > h3 {
    color: rgb(99, 124, 95);
    font-size: xx-large;
    margin-bottom: 1em;
    text-align: center;
}

/* shop */
.shop-container {
    width: 80%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 10em;
}
.shop-container > h2 {
    color:rgb(99, 124, 95);
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 1em;
}
.item-container {
    display: flex;
    flex-wrap: wrap;
}
.item {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left:1em;
    margin-right:1em;
    margin-bottom:1em;
    cursor: pointer;
}
.item > h3 {
    color: rgb(99, 124, 95);
    font-size: xx-large;
    margin-bottom: 0.5em;
    text-align: center;
}
.price {
    color: rgb(99, 124, 95);
    font-size: large;
}
.item > p {
    color: rgb(99, 124, 95);
    font-size: large;
    margin-bottom: 1em;
}
.buzzwords-container{
    display:flex;
    justify-content:center;
}
.warm {
    background-color:rgb(179, 143, 75);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
.humidity-high {
    background-color:rgb(179, 101, 75);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
.light-bright {
    background-color:rgb(227, 213, 60);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
.beginner {
    background-color:rgb(91, 202, 93);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
.adaptable {
    background-color:rgb(92, 151, 207);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
.low-maintainence {
    background-color:rgb(200, 131, 220);
    color: white;
    width: 33%;
    text-align: center;
    border-radius:0.5em;
    padding: 0.5em;
}
/* products */
.item1 {
    display: flex;
    overflow: none;
    align-items: center;
    width: 50%;
    margin-bottom: 10em;
}
.item-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 1em;
    width: 50%;
}
.item-column > h2 {
    color:rgb(99, 124, 95);
    text-align: center;
    align-self: center;
    font-size: xxx-large;
    margin-bottom: 1em;
}
.item-column > p {
    color: rgb(99, 124, 95);
    font-size: large;
    margin-bottom: 1em;
    margin-left: 1em;
}
.item-column > i {
    margin: 2em 2em;
    align-self: center;
    cursor: pointer;
}
/* privacy */
.privacy-container {
    width:33%;
    overflow:scroll;
    margin-bottom: 10em;
}