$purple: rgb(186, 148, 233);
$pink: rgb(238, 174, 202);
$gradient: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
$transition-time:opacity 200ms ease-in-out, width 200ms ease-in-out, rotation 200ms ease-in-out, translate 200ms ease-in-out;
$ipad-height: 8px;
$ipad-length: 60px;
$ipad-gap: 6px;
$hamburger-height: calc($ipad-height * 3 + $ipad-gap * 2 );
$x-width: calc($hamburger-height * 1.41421356237);
$iphone-height: 4px;
$iphone-length: 30px;
$iphone-gap: 3px;
$iphone-hamburger-height: calc($iphone-height * 3 + $iphone-gap * 2 );
$iphone-x-width: calc($iphone-hamburger-height * 1.41421356237);
$tablet: 820px;
$phone: 480px;
$small-phone: 399px;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  * {
	box-sizing: border-box;
	&::after {
		box-sizing: border-box;
	}
	&::before {
		box-sizing: border-box;
	}
}
  
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
  .sidebar {
    display: none;
  }
  
  header {
    background: rgb(238, 174, 202);
    background: $gradient;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    margin-bottom: 30px;
  }
  
  .title-heading {
    font-family: 'BioRhyme Expanded', serif;
    font-weight: bolder;
    color: white;
  }
  
  .nav-list {
    display: flex;
    justify-content: space-evenly;
  }
  
  .nav-item {
    list-style: none;
  }
  
  .nav-a {
    margin-left: 40px;
    text-decoration: none;
    color: white;
    font-family: 'BioRhyme Expanded', serif;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
  }
  
  h2 {
    font-family: 'BioRhyme Expanded', serif;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  p {
    font-family: 'Stint Ultra Expanded', serif;
    font-size: 24px;
  }
  
  li {
    font-family: 'BioRhyme Expanded', serif;
    font-size: 22px;
    list-style-position: inside;
  
    &::marker {
      color: $purple;
    }
  }
  
  .list-p {
    font-size: 20px;
  }
  
  .response-container {
    flex-basis: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .breadcrumb {
    text-decoration: underline wavy $purple;
    color: black;
  }
  
  .button-container {
    flex-basis: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  button {
    cursor: pointer;
    box-shadow: 13px 10px 16px 0px $purple;
    border-radius: 10%;
    border-color: $pink;
    padding: 10px;
    color: white;
    font-family: 'BioRhyme Expanded', serif;
    background: $pink;
    background: $gradient;
  }
  

  @media (max-width: $tablet) {
    nav {
        display: flex;
        justify-content: center;
      }
      .hamburger {
        list-style: none;
      }
      .hamburger-a {
        text-decoration: none;
        color: white;
      }
      .sidebar {
        transition: $transition-time;
        // transform:translate(200%, 100%);
        margin-top: calc($ipad-height + 5px);
        background: $gradient;
        padding: 5px;
      }
      .hamburger-label {
        &::before {
            content: "";
            width: $ipad-length;
            height: $ipad-height;
            background-color: $purple;
            border-radius: 50px;
            transition: $transition-time;
            transform-origin: left center;
        }
        &::after {
            content: "";
            width: $ipad-length;
            height: $ipad-height;
            background-color: $purple;
            border-radius: 50px;
            transition: $transition-time;
            transform-origin: left center;
        }
        input {
            appearance: none;
            content: "";
            width: $ipad-length;
            height: $ipad-height;
            background-color: $purple;
            border-radius: 50px;
            outline: none;
            pointer-events: none;
            transition: $transition-time;
            transform-origin: left center;
        }
        display: block;
        position: absolute;
        top:20px;
        right:50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:$ipad-gap;
        width:max-content;
        align-self: flex-end;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .hamburger-label input:checked {
        opacity: 0;
        width: 0;
    }
    .hamburger-label:has(input:checked)::before{
        rotate:45deg;
        width: $x-width;
        translate: 0 calc($ipad-height / -2);
    }
    .hamburger-label:has(input:checked)::after{
        rotate:-45deg;
        width: $x-width;
        translate: 0 calc($ipad-height / 2);
    }
    .hamburger-label:has(input:checked) + .sidebar {
      display: block;
      transform: translate(25%, 100%);
      }
    .nav-list {
        display: none;
    }
    header {
        height: 80px;
        margin-bottom:20px;
    }
    .title-heading {
        font-size: 26px;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    p {
        font-size: 18px;
    }
    li {
        font-size: 16px;
    }
    .list-p {
        font-size: 14px;
    }
    button {
        padding: 6px;
    }
  }

  @media (max-width: $phone) {
    nav {
        display: flex;
        justify-content: center;
      }
      .sidebar {
        transition: $transition-time;
        /* transform:translate(200%, 100%); */
        margin-top: calc($iphone-height + 5px);
        background: $gradient;
        padding: 5px;
      }
      .hamburger-label {
        &::before {
            content: "";
            width: $iphone-length;
            height: $iphone-height;
            background-color: $purple;
            border-radius: 50px;
            transition: $transition-time;
            transform-origin: left center;
        }
        &::after {
            content: "";
            width: $iphone-length;
            height: $iphone-height;
            background-color: $purple;
            border-radius: 50px;
            transition: $transition-time;
            transform-origin: left center;
        }
        input {
            appearance: none;
            content: "";
            width: $iphone-length;
            height: $iphone-height;
            background-color: $purple;
            border-radius: 50px;
            outline: none;
            pointer-events: none;
            transition: $transition-time;
            transform-origin: left center;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:$iphone-gap;
        width:max-content;
        align-self: flex-end;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .hamburger-label input:checked {
        opacity: 0;
        width: 0;
    }
    .hamburger-label:has(input:checked)::before{
        rotate:45deg;
        width: $iphone-x-width;
        translate: 0 calc($iphone-height / -2);
    }
    .hamburger-label:has(input:checked)::after{
        rotate:-45deg;
        width: $iphone-x-width;
        translate: 0 calc($iphone-height / 2);
    }
    .hamburger-label:has(input:checked) + .sidebar {
      display: block;
      transform: translate(0%, 85%);
      }
    .nav-list {
        display: none;
    }
    header {
        height: 60px;
        margin-bottom:10px;
    }
    
    .title-heading {
        font-size: 26px;
    }
    h2 {
        font-size: 14px;
        margin-bottom: 6px;
    }
    p {
        font-size: 12px;
    }
    li {
        font-size: 10px;
    }
    .list-p {
        font-size: 8px;
    }
    button {
        font-size: 10px;
        padding: 6px;
    }
  }
  @media (max-width: $small-phone) {
    nav {
        display: flex;
        justify-content: center;
      }
    .hamburger-label:has(input:checked) + .sidebar {
      display: block;
      transform: translate(0%, 85%);
      }
    .nav-list {
        display: none;
    }
    header {
        height: 60px;
        margin-bottom:10px;
    }
    .title-heading {
        font-size: 22px;
    }
    h2 {
        font-size: 14px;
        margin-bottom: 6px;
    }
    p {
        font-size: 12px;
    }
    li {
        font-size: 10px;
    }
    .list-p {
        font-size: 8px;
    }
    button {
        font-size: 10px;
        padding: 6px;
    }
  }